@keyframes bioTextAppear {
  from{
    padding-top: 50%;
  }
  to{
    padding-top: 12px;
  }
}

@keyframes imgAppear {
  from{
    padding-top: 100%;
  }
  to {
    padding-top: 0px;
  }
}

*{
  color: white;
  transition: .8s;
  scroll-behavior: smooth;
}
*::moz-selection{
  color: black;
  background: white;
}
*::selection{
  color: black;
  background: white;
}

body{
  margin: 0px;
  background-color: rgb(66, 66, 66);
}

body::-webkit-scrollbar{
  display: none;
}


header{
  font-family: "Saira Condensed", sans-serif;
  font-size: 1.7vw;
  position: sticky;
  top: 0px;
  background-color: rgba(0, 0, 0, .7);
  display: flex;
  width: 100%;
  height: 15.5vh;
  text-align: center;
  box-sizing: border-box;

  z-index: 1;
  flex-direction: row;
}

header:hover{
  transform: scaleY(1.1);
  background-color: rgba(0, 0, 0, 1)
}

header div{
  /* border: 2px solid red; */
  width: 8%;
  margin: 0.3%;
  display: flex;
  justify-content: center;
  align-items: center;

  box-sizing: border-box;
}

header div:hover{
  /* cursor: pointer; */
  color: #8f8f8f;
  transform: translate(5px, 5px) skew(-5deg, -2deg);
}

header div a:hover{
  cursor: pointer;
}

div.waifu:hover{
  cursor: help;
  transform: rotate(360deg);
}

header img{
  /* border: 2px solid red; */
  width: 8vw;
  height: 100%;
  margin-left: auto;
}

header img:hover{
  transform: scale(1.6, 1.5) translate(-20px, 20px);
}

main{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 125vh;
  /* border: 2px dotted blue; */
  /* background-color: black; */
  box-sizing: border-box;

}

main div{
  flex-grow: 1;
  /* border: 2px solid red; */
  width: 100%;
  overflow: hidden;
}

main div.bio{
  font-family: "Overpass", sans-serif;
  font-weight: bold;
  font-size: 2.2vw;
  padding-top: 1vh;

  animation-name: bioTextAppear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

main div.picture-container img{
  width: 50vw;
  height: auto;
  padding-top: 100%;

  animation-name: imgAppear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

main div.picture-container:hover{
  cursor: pointer;
  transform: translate(-20px, 20px);
  transition-duration: .3s;
  transition-delay: .2s;
  transition-timing-function: ease-out;
  box-shadow: -5px -5px 5px black;
}

footer{
  display: flex;
  width: 100%;
  height: 30vh;
  /* border: 2px solid green; */
  background-color: black;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer div{
  margin: 1vw;
}

footer div img:hover{
  cursor: pointer;
}

.github-icon img{
  width: 9vw;
  height: 18vh;
}

.youtube-icon img{
  width: 9vw;
  height: 18vh;
}

a{
  text-decoration: none;
  color: inherit;
}

@media (orientation: portrait) {
  header {
    font-size: 15px;
    height: 15vh;
  }
  header div {
    width: auto;
    margin: 5px;
  }
  header img {
    width: auto;
  }
  header img:hover {
    transform: translate(-10px, 10px);
  }
  main {
    height: 70vh;
  }
  main div.bio {
    font-size: 15px;
    overflow: auto;
  }
  main div.picture-container img {
    height: 70vh;
  }
  footer {
    height: 15vh;
  }
  footer div {
    margin: 10px;
  }
  .github-icon img{
    height: 7vh;
  }
  .youtube-icon img{
    height: 7vh;
  }
}
